{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% block titulo %}Confeitaria{% endblock %}{% endblock %} | GS Confeitaria</title>
    <link rel="icon" href="{% static 'feane/images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'feane/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'feane/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'feane/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'feane/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'confeitaria/css/app.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="sub_page">
    <a class="skip-link" href="#conteudo">Pular para o conteúdo</a>
    {% include 'confeitaria/includes/navbar.html' %}
    {% block hero %}{% endblock %}
    <main id="conteudo" class="container app-main" tabindex="-1">
        {% include 'confeitaria/includes/messages.html' %}
        <div class="{% block panel_class %}page-panel{% endblock %}">
            {% block content %}{% block conteudo %}{% endblock %}{% endblock %}
        </div>
    </main>
    {% include 'confeitaria/includes/footer.html' %}
    <script src="{% static 'feane/js/jquery-3.4.1.min.js' %}" defer></script>
    <script src="{% static 'feane/js/bootstrap.js' %}" defer></script>
    <script src="{% static 'confeitaria/js/app.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
